<app-header-admin></app-header-admin>
<div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" >
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink] = "['/showview']">
              <i class="mdi mdi-view-headline menu-icon" ></i>
              <span class="menu-title" >Doanh mục sản phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/checkoutCart']">
              <i class="mdi mdi-chart-pie menu-icon" ></i>
              <span class="menu-title" >Quản lý đơn đặt hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/update']">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title" >Quản lý sản phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/user']">
              <i class="mdi mdi-emoticon menu-icon"></i>
              <span class="menu-title" >Quản lý khách hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">
              <i class="mdi mdi-file-document-box-outline menu-icon"></i>
              <span class="menu-title" >Trang chủ cửa hàng</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="row">
                        <div class="col-md-12 stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <div class="onsjw" *ngIf = "experr">
                                <div class="card-body"  >
                                  <h4 class="card-title" style="font-size: 20px;">DANH SÁCH ĐƠN ĐẶT</h4>
                                  <img (click)="close()" style="width: 50px; height: 50px; position: relative; left: 56em; bottom: 4em; cursor: pointer;" src = "https://inhoguom.com/sites/default/files/pictures/close_blue.png"/>           
                                  <div class="table-responsive">
                                    <div id="recent-purchases-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="recent-purchases-listing" class="table dataTable no-footer" role="grid">
                                      <thead>
                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 50.863px;">ID</th>
                                          <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Status report: activate to sort column ascending" style="width: 100.425px;">img</th>
                                          <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 144.65px;">Tên sản phẩm</th>
                                          <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending" style="width: 68.875px;">Số lượng đặt</th>
                                          <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 107.813px;">Tên loại</th>
                                      </thead>
                                      <tbody>                    
                                      <tr role="row" class="odd" *ngFor = "let a of dany">
                                            <td class="sorting_1"> {{a.id}}</td>
                                            <td><img style="width:60px; height: 60px;" [src] = "a.img"/></td>
                                            <td>{{a.tensp}}</td>
                                            <td>{{a.sl_sp}}</td>
                                            <td>{{a.tenloai}}</td>
                                        </tr></tbody>
                                    </table>
                                  </div>
                                </div>
                                <div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"></div></div></div>
                                  </div>
                                </div>    
                             </div>
                                <p class="card-title">QUẢN LÝ ĐƠN ĐẶT HÀNG</p>
                                <div class="table-responsive">
                                  <div id="recent-purchases-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="recent-purchases-listing" class="table dataTable no-footer" role="grid">
                                    <thead>
                                      <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 160.863px;">Tên khách hàng</th>
                                        <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Status report: activate to sort column ascending" style="width: 56.425px;">Số lượng đặt</th>
                                        <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 144.65px;">Ngày đặt</th>
                                        <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending" style="width: 68.875px;">Tình trạng</th>
                                        <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 107.813px;">Tổng tiền</th>
                                        <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Gross amount: activate to sort column ascending" style="width: 158.1px;">Xử lý</th></tr>
                                    </thead>
                                    <tbody>                    
                                    <tr role="row" class="odd" *ngFor = "let a of dsdd">
                                          <td class="sorting_1">{{a.name}}</td>
                                          <td>{{a.sld}}</td>
                                          <td>{{a.ngaytao | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                          <td><label class="badge badge-danger" *ngIf = "a.trangthai === 0">Chờ duyệt</label>
                                            <label class="badge badge-success" *ngIf = "a.trangthai === 1">Đã xác nhận</label></td>
                                          <td>{{a.thanhtien | number}} VND</td>
                                          <td> <button type="submit" style="height:40px;" class="btn btn-primary mr-2" (click) = "update(a.id)">CONFIRM</button>
                                            <button type="submit" style="height:40px;" (click)="view(a.id_user,a.ngaytao)" class="btn btn-primary mr-2">VIEW</button></td>
                                      </tr></tbody>
                                  </table></div></div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"></div></div></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>



</div>