
<div class= "index" >
    <div class="gans">
         <h1>LOGIN PAGE</h1>
  <form class= "form" [formGroup] = "fileForm" (ngSubmit) = "submit()">
    <label class="index-1">Tên đăng nhập:</label><br/><br/>
    <input formControlName = "username" required class="in-1" type = "text" placeholder="Tên đăng nhập" ><br/><br/>
    <label class="index-1">Mật khẩu:</label><br/><br/>
    <input formControlName = "password" required class="in-1" type = "password" name = "password" autocomplete="on" placeholder="**********"  /><br/><br/>
    <button type="submit" class="btn-lg">Đăng Nhập</button>
      </form>
    <br/>
    <a [routerLink] = "['/register']">Bạn chưa có tài khoản</a>
    <br/>
    <br/>
    <a [routerLink] = "['/']">Quay về trang chủ</a>
    </div>
    </div>