<app-header-admin></app-header-admin>
<div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" >
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink] = "['/showview']">
              <i class="mdi mdi-view-headline menu-icon" ></i>
              <span class="menu-title" >Doanh mục sản phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/checkoutCart']">
              <i class="mdi mdi-chart-pie menu-icon" ></i>
              <span class="menu-title" >Quản lý đơn đặt hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/update']">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title" >Quản lý sản phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/user']">
              <i class="mdi mdi-emoticon menu-icon"></i>
              <span class="menu-title" >Quản lý khách hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">
              <i class="mdi mdi-file-document-box-outline menu-icon"></i>
              <span class="menu-title" >Trang chủ cửa hàng</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="row">
                      <form [formGroup]="fileForm" (ngSubmit)="submit()">
                        <div class="col-md-12 grid-margin stretch-card">
                          <div class="card" style="position: relative; width:550px" >
                            <div class="card-body" >
                                <h4 class="card-title">NHẬP ĐƠN HÀNG</h4>
                                <div class="form-group">
                                  <label>Tên mặt hàng</label>
                                  <input formControlName = "tensp" style="position: relative; width:400px; height: 20px;" type="text" class="form-control form-control-lg" placeholder="Nhập tên mặt hàng" aria-label="Username">
                                </div>
                                <div class="form-group">
                                  <label>Số lượng hàng hóa</label>
                                  <input formControlName = "sl" style="position: relative; width:400px; height: 20px;"  type="text" class="form-control" placeholder="Nhập số lượng" aria-label="Username">
                                </div>
                                <div class="form-group">
                                    <label>Giá bán</label>
                                    <input formControlName = "giaban" style="position: relative; width:400px; height: 20px;"  type="text" class="form-control" placeholder="Giá sản phẩm" aria-label="Username">
                                  </div>
                                <div class="form-group">
                                  <label>Nhập hình ảnh</label>
                                  <input formControlName = "img" style="position: relative; width:400px; height: 40px;"  type="text" class="form-control form-control-sm" placeholder="Nhập hình ảnh" aria-label="Username">
                                </div> 
                                <br/>
                                <br/>
                                <button type="submit" style="position: relative; left: 22rem; bottom: 3.2em;" class="btn btn-primary mr-2">Cập nhật sản phẩm</button>
                              </div>                    
                          </div>
                          <div class="col-md-6 grid-margin stretch-card" style="position: relative; width:180px" >
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">DOANH MỤC</h4>
                                <p class="card-description">
                                 
                                </p>
                                <div class="form-group">
                                  <label for="exampleFormControlSelect1">Chọn doanh mục sản phẩm</label>
                                  <select formControlName = "maloai" class="form-control form-control-lg" id="exampleFormControlSelect1">
                                    <option *ngFor = "let a of dsloaisp" [value]="a.maloai" >{{a.tenloai}}</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <input formControlName = "mota" style="position: relative; width:300px; height: 200px;"  type="text" class="form-control form-control-sm" placeholder="Mô tả sản phẩm" aria-label="Username">
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                      </div>
                      
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>



</div>