<app-header-admin></app-header-admin>
<div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" >
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink] = "['/showview']">
              <i class="mdi mdi-view-headline menu-icon" ></i>
              <span class="menu-title" >Doanh mục sản phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/checkoutCart']">
              <i class="mdi mdi-chart-pie menu-icon" ></i>
              <span class="menu-title" >Quản lý đơn đặt hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/update']">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title" >Quản lý sản phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/user']">
              <i class="mdi mdi-emoticon menu-icon"></i>
              <span class="menu-title" >Quản lý khách hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">
              <i class="mdi mdi-file-document-box-outline menu-icon"></i>
              <span class="menu-title" >Trang chủ cửa hàng</span>
            </a>
          </li>
        </ul>
      </nav>
      
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="row">
                        <div class="col-md-12 stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <div class="onsjw" *ngIf = "experr">
                                <form [formGroup] = "formFile">
                                  <div class="card-body"  style="height:600px" *ngFor = "let a of xemchitiet">
                                    <h4 class="card-title" style="font-size: 20px;">CẬP NHẬP ĐƠN HÀNG</h4>
                                    <img (click)="close()" style="width: 50px; height: 50px; position: relative; left: 44em; bottom: 4em; cursor: pointer;" src = "https://inhoguom.com/sites/default/files/pictures/close_blue.png"/>
                                    <div class="form-group">
                                      <label>Tên mặt hàng</label>
                                      <input formControlName  = "tensp" style="position: relative; width:300px; height: 20px;" type="text" class="form-control form-control-lg">
                                    </div>
                                    <div class="form-group">
                                      <label>Số lượng hàng hóa</label>
                                      <input formControlName  = "sl" style="position: relative; width:300px; height: 20px;"  type="text" class="form-control" >
                                    </div>
                                    <div class="form-group">
                                        <label>Giá bán</label>
                                        <input formControlName  = "giaban" style="position: relative; width:300px; height: 20px;"  type="text" class="form-control" >
                                      </div>
                                    <div class="form-group">
                                      <label>Nhập hình ảnh</label>
                                      <input  formControlName = "img" style="position: relative; width:300px; height: 40px;"  type="text" class="form-control form-control-sm" >
                                    </div> 
                                    <div class="form-group" style="position: relative; left: 26em; bottom: 25em;">
                                      <label>Mô tả</label>
                                      <input formControlName = "mota" style="position: relative; width:300px; height: 100px;"  type="text" class="form-control form-control-sm">
                                    </div> 
                                    <br/>
                                    <br/>
                                    <button type="submit" (click)="update(a.id)" style="position: relative; left: 20rem; bottom: 13.5em;" class="btn btn-primary mr-2" >Cập nhật sản phẩm</button>
                                  </div>    
                                </form>
                               </div>
                              <div class="card-title" style="width:400px; margin:  auto;">
                                <div class="col-sm-9" >
                                  <form [formGroup] = "file" >
                                    <select class="form-control" formControlName = "maloai" >
                                      <option value="">---Please select---</option>
                                    <option *ngFor = "let a of dsloaisp" [value]="a.maloai" >{{a.tenloai}}</option>
                                  </select>
                                  <button type="submit" (click) = "submit()" style="position: relative; left: 22rem; bottom: 3.2em;"  class="btn btn-primary mr-2">Xem danh sách</button>
                                  </form>
                                </div>
                              </div>
                              
                              <h2 style="text-align: center;">CHI TIẾT SẢN PHẨM</h2>
                              <div class="table-responsive">
                                <table id="recent-purchases-listing" class="table">
                                  <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Hình ảnh</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Price</th>
                                        <th>Tình trạng</th>
                                        <th>sl</th>
                                        <th>Ngày cập nhật</th>
                                        <th>Tùy chọn</th>
                                    </tr>
                                  </thead>
                                  <tbody  *ngIf = "loaddau"> 
                                    <tr *ngFor = "let a of dsdau" >
                                        <td>{{a.id}}</td>
                                        <td><img style="position: relative; width: 50px; height: 50px;" [src]="a.img"></td>
                                        <td>{{a.tensp}}</td>
                                        <td>{{a.giaban | number}}</td>
                                        <td><label class="badge badge-success">Còn bán</label></td>
                                        <td>{{a.sl}}</td>
                                        <td>{{a.ngay | date}}</td>
                                        <td>
                                          <button type="submit" style="height:40px;" (click)="show(a.id)" class="btn btn-primary mr-2">UPDATE</button>
                                          <button class="btn btn-light"(click) = "delete(a.id)"  style="height:40px">DELETE</button>
                                        </td>
                                    </tr>
                                  </tbody>
                                  <tbody *ngIf = "loadsau"> 
                                    <tr *ngFor = "let a of dssanpham" >
                                        <td>{{a.id}}</td>
                                        <td><img style="position: relative; width: 50px; height: 50px;" [src]="a.img"></td>
                                        <td>{{a.tensp}}</td>
                                        <td>{{a.giaban | number}}</td>
                                        <td><label class="badge badge-success">Còn bán</label></td>
                                        <td>{{a.sl}}</td>
                                        <td>{{a.ngay | date}}</td>
                                        <td>
                                          <button type="submit" style="height:40px;" (click)="show(a.id)" class="btn btn-primary mr-2">UPDATE</button>
                                          <button class="btn btn-light"(click) = "delete(a.id)"  style="height:40px">DELETE</button>
                                        </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>



</div>