<div id="titleax">
    <div class="sumoner">
        <div class="coxv">
            <h1 class="thx">GIỎ HÀNG<hr /></h1>
            <table class="xcx">
                <tr class="xcxv">
                    <th class="run-xn">Hình</th>
                    <th class="run-x">Tên sản phẩm</th>
                    <th class="run-x2">Số lượng</th>
                    <th class="run-x1">Giá</th>
                    
                    <th class="run-x3">Xóa</th>
                </tr>
                    <tr class="car" *ngFor = "let a of danhsach">
                    <td><img width="150px" height="100px" [src]="a.img"/></td>
                    <td>{{a.tensp}}</td> 
                    <td>  
                        <div class="babaa">
                            <input class="input-tr" type="text" value = "{{a.sl_sp}}"/>
                        </div>
                    </td>
                    <td>{{a.thanhtien | number}} VND</td>
                   
                    <td><i class="material-icons" (click) = "deleteCart(a.id)" >Xóa</i></td>
                </tr>             
                 <br/>
                <div class="run-s">
                    <div class="sixc" *ngFor = "let a of tongtien">
                        <h3 style="font-size: 19px;">Tổng Tiền: {{a.tong | number}} VND</h3>
                        <h3 style="font-size: 19px;">Shipp: 0%</h3>
                        <h3 style="font-size: 19px;">Thanh Toán: {{a.tong | number}} VND</h3>
                    </div>
                </div>        
              <br/>
                   <button class="run-ser" (click) = "thanhtoan()" >Thanh toán</button>
                  
             <button class="run-ser1" [routerLink] = "['/']">Trở về trang chủ</button> 
             <div>
                 
             </div>
            </table>
            <br/>
        </div>
    </div>
</div>