.onsjw{
    z-index: 1;
    position: absolute;
    min-width: 1000px;
    min-height: 400px;
    background-color: rgb(210, 241, 241);
    transform: translateY(10%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}