<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
  <app-header-admin></app-header-admin>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title" >Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink] = "['/showview']">
              <i class="mdi mdi-view-headline menu-icon" ></i>
              <span class="menu-title" >Doanh mục sản phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/checkoutCart']">
              <i class="mdi mdi-chart-pie menu-icon" ></i>
              <span class="menu-title" >Quản lý đơn đặt hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/update']">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title" >Quản lý sản phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['/user']">
              <i class="mdi mdi-emoticon menu-icon"></i>
              <span class="menu-title" >Quản lý khách hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">
              <i class="mdi mdi-file-document-box-outline menu-icon"></i>
              <span class="menu-title" >Trang chủ cửa hàng</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                  <div class="mr-md-3 mr-xl-5">
                    <h2>CHÀO MỪNG,</h2>
                    <p class="mb-md-0">TRANG QUẢN TRỊ HỆ THỐNG SHOP </p>
                  </div>
                  <div class="d-flex">
                    <p class="text-primary mb-0 hover-cursor">Admin</p>
                    <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;</p>
                    <p class="text-primary mb-0 hover-cursor">Analytics</p>
                  </div>
                </div>
                <div style="position: relative; right: 3em;" class="d-flex justify-content-between align-items-end flex-wrap">
                  <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block ">
                    <i class="mdi mdi-download text-muted"></i>
                  </button>
                  <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                    <i class="mdi mdi-clock-outline text-muted"></i>
                  </button>
                  <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                    <i class="mdi mdi-plus text-muted"></i>
                  </button>
                  <button class="btn btn-primary mt-2 mt-xl-0">XEM DANH SÁCH KHÁCH HÀNG</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="width: 100%;">
            <div  class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body dashboard-tabs p-0">
                  <div class="tab-content py-0 px-0">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                      <div class="d-flex flex-wrap justify-content-xl-between">
                        <div class="d-none d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                          <i class="mdi mdi-calendar-heart icon-lg mr-3 text-primary"></i>
                          <div class="d-flex flex-column justify-content-around">
                            <small class="mb-1 text-muted">Truy cập hôm nay</small>
                            <div class="dropdown">
                             
                                <h5 class="mb-0 d-inline-block">{{ today | date:'fullDate' }} </h5>
  
                            </div>
                          </div>
                        </div>
                        <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                          <i class="mdi mdi-currency-usd mr-3 icon-lg text-danger"></i>
                          <div class="d-flex flex-column justify-content-around">
                            <small class="mb-1 text-muted">Số lượng hàng hóa đang chờ</small>
                            <h5 class="mr-2 mb-0" *ngFor = "let a of sl">{{a.soluong}}</h5>
                          </div>
                        </div>
                        <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                          <i class="mdi mdi-eye mr-3 icon-lg text-success"></i>
                          <div class="d-flex flex-column justify-content-around">
                            <small class="mb-1 text-muted">Tổng tiền đơn đặt mới</small>
                            <h5 class="mr-2 mb-0" *ngFor = "let a of dstong">{{a.tongtien | number}} VND</h5>
                          </div>
                        </div>
                        <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                          <i class="mdi mdi-download mr-3 icon-lg text-warning"></i>
                          <div class="d-flex flex-column justify-content-around">
                            <small class="mb-1 text-muted">Tổng đơn đặt</small>
                            <h5 class="mr-2 mb-0" *ngFor = "let a of slduyet">{{a.soluong}}</h5>
                          </div>
                        </div>
                        <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                          <i class="mdi mdi-flag mr-3 icon-lg text-danger"></i>
                          <div class="d-flex flex-column justify-content-around">
                            <small class="mb-1 text-muted">Tổng doanh thu</small>
                            <h5 class="mr-2 mb-0" *ngFor = "let a of tongall">{{a.tongtien | number}} VND</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                      <div class="d-flex flex-wrap justify-content-xl-between">
                        <div class="d-none d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                          <i class="mdi mdi-calendar-heart icon-lg mr-3 text-primary"></i>
                          <div class="d-flex flex-column justify-content-around">
                            <small class="mb-1 text-muted">Start date</small>
                            <div class="dropdown">
                              <a class="btn btn-secondary dropdown-toggle p-0 bg-transparent border-0 text-dark shadow-none font-weight-medium" href="#" role="button" id="dropdownMenuLinkA" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h5 class="mb-0 d-inline-block">26 Jul 2018</h5>
                              </a>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkA">
                                <a class="dropdown-item" href="#">12 Aug 2018</a>
                                <a class="dropdown-item" href="#">22 Sep 2018</a>
                                <a class="dropdown-item" href="#">21 Oct 2018</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
              <div class="card">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title" style="font-size: 20px;">DANH SÁCH ĐƠN ĐẶT MỚI</p>
                  <div class="table-responsive">
                    <table id="recent-purchases-listing" class="table">
                      <thead>
                        <tr>
                            <th>Tên khách hàng</th>
                            <th>Số lượng đặt</th>
                            <th>Ngày đặt</th>
                            <th>Tổng tiền</th>
                            <th>Tình trạng đơn hàng</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor = "let a of dsdd">
                            <td>{{a.name}}</td>
                            <td>{{a.sld}}</td>
                            <td>{{a.ngaytao | date}}</td>
                            <td>{{a.thanhtien | number}} VND</td>
                            <td><label class="badge badge-danger">Chờ duyệt</label></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title">DANH SÁCH KHÁCH HÀNG</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    ID
                  </th>
                  <th>
                    Tên khách hàng
                  </th>
                  <th>
                    Số điện thoại
                  </th>
                  <th>
                    Roles
                  </th>
                  <th>
                    Tình trạng
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let a of dskh">
                  <td class="py-1">
                    {{a.id}}
                  </td>
                  <td>
                    {{a.name}}
                  </td>
                  <td>
                    0{{a.phone}}
                  </td>
                  <td>
                   {{a.user}}
                  </td>
                  <td>
                    <label class="badge badge-success">Đang hoạt động</label>
                  </td>
                </tr>
          
              </tbody>
            </table>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
<app-footer-admin></app-footer-admin>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->